body {
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff 0%, #ffdd00 50%);
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 90vh;
}

.nav-card {
  border: none;
  background: #000000;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #ffdd00;


}

.nav-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 221, 0, 0.6);
}

.nav-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  background: linear-gradient(45deg, #000000 0%, #ffdd00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-text {
  background: linear-gradient(45deg, #000000 0%, #333333 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

